.star {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating {
  display: flex;
  align-items: center;
  gap: 16px;
  font: var(--font-bodytext-3);
  color: var(--color-style-primary-500);
  &__star {
    display: flex;
    gap: 8px;
  }
  @media (max-width: 480px) {
    .rating__star {
      gap: 4px;
    }
  }
}