.header {
  background: var(--color-style-primary-100);
  border-bottom: var(--border-line);
  z-index: var(--header-z-index);
  &__container {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logined {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  &__logo {
    &__small {
      display: none;
    }
  }
  &__btn {
    margin-right: 10px;
  }
  &__search {
    padding: 0 20px;
  }
  @media (max-width: 380px) {
  .header {
    &__search {
      order: 2;
    }
    &__btn {
      margin-right: 0;
      width: 100%;
      order: 1;
    }
  }
}
}



@media (max-width: 660px) {
  .header {
    &__logo {
      display: none;
      &__small {
        display: block;
      }
    }
  }
}
@media (max-width: 500px) {
  .header {
    &__container {
      flex-flow: wrap;
    }
    &__search {
      display: block;
      width: 100%;
      margin-top: 16px;
      order: 2;
      padding: 0 ;
    }
  }
}

@media (max-width: 380px) {
  .header {
    &__search {
      order: 2;
    }
    &__btn {
      margin-right: 0;
      width: 100%;
      order: 1;
    }
  }
}