.header {
  background: var(--color-style-primary-100);
  border-bottom: var(--border-line);
  z-index: var(--header-z-index);
  &__container {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logined {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}

