.header {
  background-color: var(--color-style-primary-100);
  z-index: var(--header-z-index);
  &__container {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logined {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}

