.results {
  &__container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    z-index: var(--search-bar-z-index);
  }
  &__dropdown {
    position: absolute;
    max-width: 1200px;
    width: 100%;
    top: 54px;

    background-color: var(--color-style-primary-100);
    border: var(--border-line);

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;

    visibility: hidden;
  }
}

.focused {
  visibility: visible;
}