.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__text {
    font: var(--font-bodytext-3);
    color: var(--color-style-primary-600);
    max-width: 420px;
  }
  &__btn {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

@media (max-width: 480px) {
  .info {
    gap: 20px;
    &__text {
      max-width: 355px;
    }
    &__btn {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }
}