.content {
  padding: 32px 0 40px 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  font: var(--font-bodytext-3);
  color: var(--color-style-primary-500);
}

.book_list {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 24px;
}