@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font: var(--font-subtitle-4)
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}
p {
  margin: 0;
}
.btn-reset {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.input-reset {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}


.test {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2.5rem 1.5rem;
}

.test-tag {
  display: flex;
}

.test_col {
  display: flex;
  flex-direction: column;
}
.test {
  margin-top: 50px;
  display: flex;
  gap: 16px;
  margin-bottom: 50px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track-piece {
  border-radius: 6px;
  background: var(--color-style-primary-100);
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background: var(--color-style-primary-100);
}

::-webkit-scrollbar-thumb {
  background: var(--color-style-primary-600);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-style-primary-800);
}