.header {
  position: absolute;
  min-width: 100vw;
  z-index: var(--header-z-index);
  &__container {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.login {
  .header {
    &__container {
      a {
        svg {
          rect {
            fill: white;
          }
          path {
            fill: white;
            &:nth-child(2) {
              fill: black;
            }
          }
        }
      }
    }
  }
}