.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: var(--color-style-primary-100);
    img {
      width: 430px;
      height: 528px;
    }
  }
}


.info {
  padding-left: 24px;
  &__authors {
    font: var(--font-subtitle-2);
    color: var(--color-style-primary-500);
  }
  &__title {
    margin-top: 16px;
    font: var(--font-header-2);
    color: var(--color-style-primary-700);
  }
  &__price {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    justify-content: flex-end;
    font: var(--font-header-3);
    color: var(--color-style-primary-700);
    span {
      text-decoration: line-through;
      color: var(--color-style-info-red-400);
    }
  }
  &__line {
    margin-top: 24px;
    border-top: var(--border-line);
    border-width: 2px;
  }
  &__info_product {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 11.5px;
  }
  &__catagories {
    margin-top: 24px;
  }
  &__quantity {
    display: flex;
    gap: 24px;
    margin-top: 32px;
    &__label {
      margin-top: 6px;
      font: var(--font-header-3);
    }
  }
  &__button_set {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
  }
}


.count {
  font: var(--font-subtitle-3);
  color: var(--color-style-primary-800);
  text-align: center;
  .value {
    font: var(--font-header-3);
    color: var(--color-style-primary-700);
  }
  &__wrapper {
    display: flex;
    border: var(--border-line);
    border-radius: var(--border-radius);
    padding: 10px 8px;
    justify-content: space-between;
    align-items: center;
  }
}

.summary {
  &__title {
    font: var(--font-header-3);
    color: var(--color-style-primary-700);
  }
  &__descr {
    margin-top: 16px;
    font: var(--font-bodytext-2);
    color: var(--color-style-primary-700);
  }
}
