.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text {
  width: 100%;
  font: var(--font-bodytext-3);
  span {
    font: var(--font-subtitle-3);
  }
}
.center {
  text-align: center;
}
