.checkbox_container {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkbox {
  display: none;
}

.custom_checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: transparent;
  border: var(--border-line);
  border-radius: 5px;
  border-color: var(--color-style-primary-800);
}

.label {
  user-select: none;
  display: inline-block;
  font: var(--font-bodytext-3);
  color: var(--color-style-primary-500);
}

.checkbox:checked ~ .custom_checkbox {
  background-color: var(--color-style-primary-800);
  &:before {
    content: url("../../../../public/img/checkbox.svg");
    position: absolute;
    bottom: 0;
    left: 20%;
  }
}

.checkbox:checked ~ .label {
  color: var(--color-style-primary-800);
}
