.container {
  display: flex;
  flex-direction: column;
}

.input__wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;
  border: var(--border-line);
  border-radius: var(--border-radius);
}


.input {
  color: var(--color-style-primary-700);
  border: none;
  &:disabled {
    background-color: var(--color-style-primary-100);
    cursor: auto;
  }
  &::placeholder {
    font: var(--font-line-bodytext-3);
    color: var(--color-style-primary-300);
  }
  &:focus {
    outline: none;
  }
}

.error {
  &__wrapper {
    color: var(--color-style-info-red-500);
  }
  &__text {
    color: var(--color-style-info-red-500);
  }
}