.tab {
  display: flex;
  gap: 24px;
  &__label {
    cursor: pointer;
    font: var(--font-subtitle-2);
    color: var(--color-style-primary-500);
  }
}
.active {
  color: var(--color-style-primary-800);
}

.horizontal {
  flex-direction: row;
  align-items: center;
  .active {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -16px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background: var(--color-style-primary-800);
    }
  }
}

.vertical {
  flex-direction: column;
  .active {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: -16px;
      bottom: 0;
      width: 4px;
      height: 100%;
      border-radius: 2px;
      background: var(--color-style-primary-800);
    }
  }
}

.line {
  &::before, &::after{
    display: none;
  }
}