.auth {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  &__left {
    background-color: var(--color-style-primary-100);
    position: relative;
  }
  &__text {
    width: 60%;
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    gap: 24px;
    flex-direction: column;
    &__main {
      color: var(--color-style-primary-800);
      font: var(--font-header-1);
    }
    &__descr {
      color: var(--color-style-primary-600);
      font: var(--font-bodytext-2);
    }
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;

  }
  &__form {
    width: 60%;
    max-width: 410px;
  }
}

.login {
  header {
    div {
      a {
        svg {
          rect {
            fill: white;
          }
          path {
            fill: white;
            &:nth-child(2) {
              fill: black;
            }
          }
        }
      }
    }
  }
  .auth {
    &__left {
      background-color: var(--color-style-primary-800);
    }
    &__text {
      &__main {
        color: var(--color-style-primary-100);
      }
      &__descr {
        color: var(--color-style-primary-300);
      }
    }
  }
}

@media (max-width: 910px) {
  .auth {
    &__text {
      bottom: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      &__main {
        font: var(--font-header-2);
      }
      &__descr {
        font: var(--font-bodytext-3);
      }
    }
    &__form {
      width: 80%;
      max-width: 310px;
    }
  }
}

@media (max-width: 600px) {
  .auth {
    grid-template-columns: none;
    grid-template-rows: 0.75fr 1fr;
    &__left {
      padding-top: 92px;
      padding-bottom: 10px;
    }
    &__text {
      top: 50%;
      bottom: 0;
    }
    &__right {
      margin-top: 30px;
      align-items: flex-start;
    }
    &__form {
      width: 100%;
      max-width: 335px;
    }
  }
  .login {
    header {
      div {
        button {
          svg {
            path {
              stroke: white;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .auth {
    grid-template-columns: none;
    &__text {
      position: relative;
    }
    &__form {
      width: 100%;
      max-width: 335px;
    }
    &__text {
      &__main {
        font: var(--font-header-3);

      }
    }
  }
}