$imgWidth: 20px;
$imgPadding: 16px;

.container {
  display: flex;
  flex-direction: column;
}

.input__wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  width: 100%;
  height: 56px;
  padding: 0 16px 0 calc($imgWidth + $imgPadding * 2);
  border: none;
  font: var(--font-bodytext-3);
  color: var(--color-style-primary-700);
  border: var(--border-line);
  border-radius: var(--border-radius);
  background: none;
  &:disabled {
    background-color: var(--color-style-primary-100);
    cursor: auto;
  }
  &::placeholder {
    color: var(--color-style-primary-300);
  }
  &:focus {
    outline: none;
  }
  &__img {
    position: absolute;
    padding: 0 $imgPadding;
  }
  &__password {
    padding-right: calc($imgWidth + $imgPadding * 2)
  }
  &__dirty {
    border-color: var(--color-style-primary-700);
  }
}

.password {
  cursor: pointer;
  position: absolute;
  padding: 0 $imgPadding;
  right: 0;
}


.error {
  &__wrapper {
    color: var(--color-style-info-red-400);
  }
  &__input {
    padding-right: calc($imgWidth + $imgPadding * 2);
    border-color: var(--color-style-info-red-400);
  }
  &__text {
    font: var(--font-bodytext-3);
    color: var(--color-style-info-red-400);
    padding-top: 8px;
  }
}